{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/message.css' %}" />
    <title>message</title>
  </head>
  <body>
    <div class="background">
        <div class="navbar">
          <div id="logo"></div>
        </div>
        <div id="container" role="main" >
            {% for item in letters %}
            <form action = "{% url 'users:letter-detail' item.id %}" method="post">
                {% csrf_token %}
                <button id = "messageBox">
                {% if item.recipient.id == 1 %}
                <img src="{{ item.recipient.profile.url }}" , alt="", style="width: 50px; height: 50px; border-radius: 50px">
                {% endif %}
                {% if item.recipient.id == 2 %}
                <img src="{{ item.recipient.profile.url }}" , alt="", style="width: 50px; height: 50px; border-radius: 50px">
                {% endif %}
                <div id = "messageInfoBox">
                    <div id = "messageTitle">
                        {% if item.recipient.id == 1 %}
                        보낸 편지: {{item.title}}
                        {% endif %}
                        {% if item.recipient.id == 2 %}
                        받은 편지 : {{item.title}}
                        {% endif %}

                    </div>
                    <div id = "messageContent">
                        {{item.comment}}
                    </div>
                </div>
                </button>
            </form>
            {% endfor %}
        </div>
      </div>
      <div id ="navigation" role="bar">
        <div id="IconBox">
        <a href ="{% url 'users:mypage' %}"><div id= "homeIcon" class ="IconBox"></div></a>
        </div>
        <div id="IconBox">
        <a href ="{% url 'users:mentor-detail' %}"><div id= "mentoIcon" class ="IconBox" ></div></a>
        </div>
        <div id="IconBox">
        <a href ="{% url 'mission:mission_list' %}"><div id= "questionIcon" class ="IconBox"></div></a>
        </div>
        <div id="IconBox">
        <a href ="{% url 'board:question' %}"><div id= "matchingIcon" class ="IconBox"></div></a>
        </div>
    </div>
      </div>
    </div>
  </body>
</html>

