{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/mainPage.css' %}" />
    <title>main</title>
  </head>
  <body>
    <div class="background">
        <div class="navbar">
           <div id="logo"></div>
        </div>
        <div id="container" role="main">
            <div id= "profile">
                {% if user.profile %}
                <div class = "profileSetting">
                    <img src="{{ user.profile.url }}" , alt="", style="width: 100px; height: 100px; border-radius: 50px">
                </div>
                {% endif %}
                {% if not user.profile %}
                <div id="profileImage" class = "profileSetting">
                </div>
                {% endif %}

                <div id="profileInfo" class = "profileSetting" style="margin-left: 30px">
                    <div id="userName">
                        {{user.nickname}}
                    </div>
                    <div id="userSchool">
                        {{user.school}}
                    </div>
                    <div id = "userMbti">
                        {{user.mbti}}
                    </div>
                </div>
                <a href="{% url 'users:letter-list' %}"> <div id = "messageStored" class = "profileSetting" style="margin-left: 120px;">
                    
                </div></a>
            </div>
            <div id = "stamp">
                <div id="boxSetting">
                    <div id = "stampTitle">
                        <div id = "스탬프">스탬프</div>
                    </div>
                    <div id="stampbox">
                        <div id = "stampImg"></div>
                        <div id = "보유한스탬프는">보유 스탬프는</div>
                        {% if user.matching_check == False %}
                        <div id = "stampCount">?</div>
                        <div id = "개">개</div>
                        {% endif %}
                        {% if user.matching_check == True %}
                        <div id = "stampCount">{{user.stamp}}</div>
                        <div id = "개">개</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id = "mentoInfo">
                    {% if user.matching_check == False %}
                    <form action="{% url 'users:matching' %}" method="post">
                        {% csrf_token %}
                        <button id="findMentoBtn">멘토 맺기</button>
                    </form>
                    {% endif %}
                    {% if user.matching_check == True %}
                    <div id = "멘토정보">멘토정보</div>
                    <div id="mentobox">
                    {% if mentor.profile %}
                        <img src="{{ mentor.profile.url }}" , alt="", style="width: 85px; height: 85px; border-radius: 50px">
                    {% endif %}
                    {% if not mentor.profile %}
                        <div id = "mentoprofileImage"></div>
                        {% endif %}
                    <div id = "mentoprofileInfo" style="margin-left: 20px">
                        <div id = "userName">
                            {{user.pair}}
                        </div>
                        <div id = "userSchool">
                            {{mentor.school}}
                        </div>
                        <div id = "userMbti">
                            {{mentor.number}} {{mentor.mbti}}
                        </div>
                    </div>
                    {% endif %}
                        <a href="{% url 'users:mentor-detail' %}"><div id = "nextArrow" style="margin-left: 50px;"></div></a>
                </div>
            </div>
            <div id = "mission" >
                <div id="boxSetting2" style="overflow:scroll;">
                    <div id = "미션정보">
                        미션 정보
                    </div>
                    {% for m in missions %}
                    <div id = "missionBox">
                        <div id = "missonName">
                            {{m.title}}
                        </div>
                        <div id = "missionMento">
                            {{m.userPair}}
                        </div>
                        <div id = "nextArrow-white"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
            <div id ="navigation" role="bar">
                <div id="IconBox">
                <a href ="mainPage.html"><div id= "homeIcon" class ="IconBox" onclick="location.href='#'"></div></a>
                </div>
                <div id="IconBox">
                <a href ="mentoPage.html"><div id= "mentoIcon" class ="IconBox" onclick="location.href='#'"></div></a>
                </div>
                <div id="IconBox">
                <a href ="{% url 'mission:mission_list' %}"><div id= "questionIcon" class ="IconBox"></div></a>
                </div>
                <div id="IconBox">
                <a href ="{% url 'board:question' %}"><div id= "matchingIcon" class ="IconBox"></div></a>
                </div>
            </div>
        
      </div>
    </div>
  </body>
</html>