{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/questionDetail.css' %}"/>
    <title>questionDetail</title>
  <body>
    <div class="background">
        <div class="navbar">
            <div id="logo"></div>
        </div>
        <div id="container" role="main" >
            <div id = "questionBox">
                <div id = "questionTitle">
                    {{board.title}}
                </div>
                <div id = "questionContent">
                    {{board.content}}
                </div>
                <div id = "line"></div>
            </div>
            {% for c in comments %}
            <div id = "comments">
                <div id = "comment-head">
                    {{c.content}}
                </div>
            </div>
            {% endfor %}                   
        </div>
        <form method="post" action="{% url 'board:make_comment' %}">
            {% csrf_token %}
            <input type="hidden" name="bID" value="{{board.id}}">
        <div class ="comment-add">
            <textarea id = "new-comment" name="new-comment" row=15 placeholder="새 댓글" style="resize: none;"></textarea>
            <button id = "submitButton" type="submit" onclick="submitComment()">등록하기</button>
        </div>
        </form>
            <div id ="navigation" role="bar">
                <div id="IconBox">
                <a herf ="mainPage.html"><div id= "homeIcon" class ="IconBox"></div></a>
                </div>
                <div id="IconBox">
                <a herf ="mentoPage.html"><div id= "mentoIcon" class ="IconBox"></div></a>
                </div>
                <div id="IconBox">
                <a herf ="questionPage.html"><div id= "questionIcon" class ="IconBox"></div></a>
                </div>
                <div id="IconBox">
                <a herf ="matchingPage.html"><div id= "matchingIcon" class ="IconBox"></div></a>
                </div>
            </div>
      </div>
    </div>
  </body>
</html>
