{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/questionDetail.css' %}"/>
    <script src="../templates/Comment.js" tpye="text/javascript"></script>
    <title>questionDetail</title>
  <body>
    <div class="background">
        <div class="navbar">
            navbar
        </div>
        <div id="container" role="main" >
            <div id = "questionBox">
                <div id = "questionTitle">
                    {{board.title}}
                </div>
                <div id = "questionContent">
                    {{board.content}}
                </div>
                <div id = "line"></div>
            </div>

            <div id = "comments">
                {% if comments %}
                {% for c in comments %}
                <div id = "comment-head">
                    {{c.content}}
                </div>
                {% endfor %}
                {% endif %}
            </div>    

            <form method="POST" action="{% url 'board:question_detail' %}">
                {% csrf_token %}
            <div class ="comment-add">
                <!-- {{form}} -->
                <textarea id = "new-comment" name="new-comment" row=5 placeholder="새 댓글"></textarea>
                <button id = "submitButton" type="submit" onclick="submitComment()">등록하기</button>
            </div>
            </form>
    
                               
        </div>
        <div id ="navigation" role="bar">
            <div id="IconBox">
            <a herf ="mainPage.html"><div id= "homeIcon" class ="IconBox" onclick="location.href='#'"></div></a>
            </div>
            <div id="IconBox">
            <a herf ="mentoPage.html"><div id= "mentoIcon" class ="IconBox" onclick="location.href='#'"></div></a>
            </div>
            <div id="IconBox">
            <a herf ="questionPage.html"><div id= "questionIcon" class ="IconBox" onclick="location.href='#'"></div></a>
            </div>
            <div id="IconBox">
            <a herf ="matchingPage.html"><div id= "matchingIcon" class ="IconBox" onclick="location.href='#'"></div></a>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
