:root {
  /* Color */
  --white-color: #ffffff;
  --black-color: #000000;
  --Brown-color: #a56a43;
  --Brown-light-color: #df9e74;
  --Brown-lighter-color: #fdd6ad;
  --Brown-lightest-color: #ffe9d0;

  /* Size */

  --size-padding: 12px;
  --avatar-size: 56px;

  /* Font Size */

  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* 사용법 
    
    ex) Color

    color: var(--Brown-color);

    ex) Padding

    padding: var(--padding);

  */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  background-color: #ffeecb;
  max-width: 555px;
  width: 100%;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--Brown-color);
  height: 80px;
  padding: 26px 20px 16px;
}

#profile {
  display: flex;
  margin: 30px;
  background-color: var(--white-color);
}

#stamp {
  display: flex;
  margin: 30px;
  background-color: var(--white-color);
}

#mentoInfo {
  display: flex;
  margin: 30px;
  background-color: var(--white-color);
}

#mission {
  display: flex;

  margin-left: 15px;
  margin-right: 15px;
  height: 450px;
  background-color: var(--white-color);
}

#boxSetting {
  width: 100%;
}

#boxSetting2 {
  width: 100%;
}

.footer {
  display: flex;
  height: 90px;
  background-color: var(--Brown-color);
}
