:root {
    /* Color */
    --white-color: #ffffff;
    --black-color: #000000;
    --Brown-color: #a56a43;
    --Brown-light-color: #df9e74;
    --Brown-lighter-color: #fdd6ad;
    --Brown-lightest-color: #ffe9d0;
  
    /* Size */
  
    --size-padding: 12px;
    --avatar-size: 56px;
  
    /* Font Size */
  
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
  
    /* 사용법 
      
      ex) Color
  
      color: var(--Brown-color);
  
      ex) Padding
  
      padding: var(--padding);
  
    */
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .background {
  border-radius: 5%;
  background-color: #ffeecb;
  max-width: 555px;
  width: 100%;
  height: 100vh;
  }
  
  #container {
      overflow-y: auto;
      height: 72%;
  }
  
  #TitleBox{
    margin: 0px 15px 0px 5px;
    border-color:var(--Brown-lighter-color);
    border-radius:10px;
  }

  #SelectFileButton{
    width: 36px;
    height: 36px;
    border : 5px var(--Brown-light-color);
    background-color : var(--Brown-lighter-color);
    border-radius: 10px;
    margin-left:10px
  }
  #contentBox{
    background-color:var(--Brown-lightest-color);
    border-color: var(--Brown-lighter-color);
    border-radius: 10px;
    margin : 15px 15px 15px 15px;
  }
  #deleteButton{
    width: 36px;
    height: 36px;
    border : 5px var(--Brown-light-color);
    background-color : var(--Brown-lighter-color);
    border-radius: 10px;
    margin-left:10px
  }
  #backButton{
    width: 36px;
    height: 36px;
    border : 5px var(--Brown-light-color);
    background-color : var(--Brown-lighter-color);
    border-radius: 10px;
    margin-left: 10px;
  }

  .navbar {
  border-radius:10px 10px 0px 0px;
  background-color: var(--Brown-color);
  height: 80px;
  padding: 26px 20px 16px;
  }

  #questionBox{
      margin:20px 20px 20px 20px;
  }

  #questionTitle{
      background-color: var(--Brown-light-color);
      padding: 10px;
      margin-left: 30px;
      margin-right: 30px;
      border-radius: 10px 10px 0px 0px;
      font-weight: bold;
      text-align: left;
  }
  #questionContent{
      background-color: var(--Brown-lighter-color);
      margin-left: 30px;
      margin-right: 30px;
      border-radius: 0px 0px 10px 10px;
  }

  #line{
      margin-left: 32px;
      margin-top : 16px;
      width: 450px;
      height: 1px;
      background-color: var(--black-color);
  }

  #questionInfoBox{
      border-radius: 10px 10px 10px 10px;
      background-color: var(--Brown-color);
      padding: 10px 10px 5px 10px;
      margin-left : 10px;
  }

  #questionContent{
      font-size: var(--font-small);
      display: flex;
      font-size: small;
      font-weight: bold;
  }
  
  #submitButton{
    padding:1px;
    border-color: var(--Brown-lighter-color);
    background-color: var(--Brown-lighter-color);
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 420px;
  }
  
  #boxSetting {
    width: 100%;
  }
  
  #boxSetting2 {
    width: 100%;
  }
  
  #navigation {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-around;
    bottom: 0;
    width: 555px;
    height: 90px;
    background-color: var(--Brown-color);
  }
  
  #IconBox {
    display: flex;
    align-items: center;
  }
  #homeIcon {
    background-image: url("../images/homeIcon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }
  #mentoIcon {
    background-image: url("../images/mentoIcon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }
  #questionIcon {
    background-image: url("../images/questionIcon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }
  #matchingIcon {
    background-image: url("../images/matchingIcon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
  }
  
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .inputfile + label {
    font-size: 1.25em;
    font-weight: 500;
    color: #ff8981;
    padding-left: 15px;
    background-color: white;
    display: inline-block;
  
    border: 1px solid #ff8981;
    border-radius: 10px;
    padding: 5px 8px;
  }
  
  #fileBox {
    display: flex;
    justify-content: center;
  }