{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'css/mentoCard.css' %}"
    />
    <title>messageDetail</title>
  </head>
  <body>
    <div class="background">
      <div class="navbar">
        <div id="logo"></div>
      </div>
      <div id="cardContainer" role="main">
        <div id="card">
          <div id="backTab">
            <button id="backBtn"></button>
          </div>
          <div id="mentoProfile">
            <div id="frontNameTag">당신의 멘토는</div>
            <img src="/images/test.jpeg" id="mentoprofileImage" /><img />
            <div id="mentoName">김율희</div>
            <div id="backNameTag">멘토</div>

            <div id="mentoSchool">
              <span>학교 :</span>
              <span>순천향대학교</span>
            </div>
            <div id="mentoNum">
              <span>학번 :</span>
              <span>20171538</span>
            </div>
            <div id="mentoSchool">
              <span>학과 :</span>
              <span>사물인터넷학과</span>
            </div>
            <div id="mentoSchool">
              <span>MBTI :</span>
              <span>ISFP</span>
            </div>
          </div>
        </div>
        <div id="navigation" role="bar">
          <div id="IconBox">
            <a href="{% url 'users:mypage' %}"
              ><div
                id="homeIcon"
                class="IconBox"
              ></div
            ></a>
          </div>
          <div id="IconBox">
            <a href="{% url 'users:mentor-detail' %}"
              ><div
                id="mentoIcon"
                class="IconBox"
              ></div
            ></a>
          </div>
          <div id="IconBox">
            <a href="{% url 'mission:mission_list' %}"
              ><div
                id="questionIcon"
                class="IconBox"
              ></div
            ></a>
          </div>
          <div id="IconBox">
            <a href="{% url 'board:question' %}"
              ><div
                id="matchingIcon"
                class="IconBox"
              ></div
            ></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
