{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/missionList.css' %}" />
    <title>missionList</title>
  <body>
    <div class="background">
        <div class="navbar">
            navbar
        </div> 
        <div id="container" role="main" >
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <script type="text/javascript">
                alert('{{message}}');
            </script>
            {% endfor %}
            </ul>
            {% endif %}
            {% for m in missions %}
            <div id = "missionBox">
                <div id = "missionmentoProfile">
                </div>
                <div id = "missionInfoBox">
                    <div id = "missionName">
                        {{m.title}}
                    </div>
                    <div id = "missionContent">
                        {{m.question}}
                        <div id ="mentoName">
                            {{m.user_nickname}}
                            <!-- <div>{{m.userPair}}</div> -->
                        </div>
                        {% if m.mission_check %}
                        미션완료!
                        {% else %}
                        <div id ="mission">
                            <form method="POST" action="{% url 'mission:mission_list' %}">
                            {% csrf_token %}
                              <input type="text" name="answer" id="answer">
                              <input type="hidden" name="mNumber" value="{{m.id}}">
                              <br>
                              <div id = "submitButtonBox">
                                <button id = "submitButton" type="submit">제출하기</button>
                              </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>   
            {% endfor %}                    
        </div>
    </div>
    <div id ="navigation" role="bar">
        <div id="IconBox">
        <a herf ="mainPage.html"><div id= "homeIcon" class ="IconBox" onclick="location.href='#'"></div></a>
        </div>
        <div id="IconBox">
        <a herf ="mentoPage.html"><div id= "mentoIcon" class ="IconBox" onclick="location.href='#'"></div></a>
        </div>
        <div id="IconBox">
        <a herf ="questionPage.html"><div id= "questionIcon" class ="IconBox" onclick="location.href='#'"></div></a>
        </div>
        <div id="IconBox">
        <a herf ="matchingPage.html"><div id= "matchingIcon" class ="IconBox" onclick="location.href='#'"></div></a>
        </div>
    </div>
      </div>
    </div>
  </body>
</html>
