{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/missionList.css' %}" />
    <title>missionList</title>
  <body>
    <div class="background">
        <div class="navbar">
            <div id="logo"></div>
        </div> 
        <div id="container" role="main" >
            {% for m in missions %}
            <form method="post" action="{% url 'mission:mission_detail' m.id %}">
                {% csrf_token %}
            <div id = "missionBox">
                <div id = "missionmentoProfile">
                </div>
                <button id = "missionInfoBox">
                    <div id = "missionName">
                        {{m.title}}
                    </div>
                    <div id = "missionContent">
                        {{m.question}}
                        <div id ="mentoName">
                            {{m.user_nickname}}
                        </div>
                    </div>
                </button>
                {% if m.mission_check %}
                <div id = "missionCheckBox">
                    미션 완료!
                </div>
                {% endif %}
            </div> 
            </form> 
            {% endfor %}                  
        </div>
    </div>
    <div id ="navigation" role="bar">
        <div id="IconBox">
            <a herf ="mainPage.html"><div id= "homeIcon" class ="IconBox"></div></a>
            </div>
            <div id="IconBox">
            <a herf ="mentoPage.html"><div id= "mentoIcon" class ="IconBox"></div></a>
            </div>
            <div id="IconBox">
            <a herf ="questionPage.html"><div id= "questionIcon" class ="IconBox"></div></a>
            </div>
            <div id="IconBox">
            <a herf ="matchingPage.html"><div id= "matchingIcon" class ="IconBox"></div></a>
            </div>
        </div>
    </div>
      </div>
    </div>
  </body>
</html>
