{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="matching.css" />
    <title>matching</title>
  <body>
    <div class="background">
        <div class="navbar">
            navbar
        </div> 
        <div id="container" role="main" >
            <div id = "mentoBox">
                <div id = "mentoProfile">
                </div>
                <div id = "mentoInfoBox">
                    <div id = "mentoName">
                        윤영준
                        <div id ="mentoSchool">
                            한국기술교육대학교
                        </div>
                    </div>
                    <div id = "mentoMBTI">
                        ESTJ
                    </div>
                    <div id = "mentoContent">
                        저는 머시기 저시기 이런저런 사람입니다.
                    </div>
                </div>
            </div>                       
        </div>
        <div class="footer">
            footer
        </div>
      </div>
    </div>
  </body>
</html>
