{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '../../static/css/mentoPage.css' %}" />
    <title>main</title>
  </head>
  <body>
    <div class="background">
        <div class="navbar">
           <div id="logo"></div>
        </div>
        <div id="container" role="main">
            <div id= "profile">
                <div id="profileImage" class = "profileSetting">
                </div>
                <div id="profileInfo" class = "profileSetting">
                    <div id="userName">
                        김승환
                    </div>
                    <div id="userSchool">
                        순천향대학교
                    </div>
                    <div id = "userMbti">
                        1997.03.20 ESFJ
                    </div>
                </div>
                <div id = "stampcheck"></div>
                    
                </div>
            </div>
            <div id = "mentoBtn">
                <button id="valanceGameBtn"  onclick="location.href='valance.html' ">
                    <span>밸런스게임</span>
                </button>
                <button id = "missionBtn" onclick="location.href='valance.html' ">
                    <span>미션</span>
                </button>
            </div>
            
            <div id = "mission" >
                <div id = "mentiInfo">
                    멘티 정보
                </div>
                <div id="mentiScrollBox" style="overflow:scroll;">
                    
                   
                    <div id = "mentoInfo">
                        <div id="mentobox">
                            
                                <div id = "mentoprofileImage"></div>
                          
                            
                            <div id = "mentoprofileInfo" >
                                
                                <div id = "userName">
                                    윤영준
                                </div>
                                <div id = "userSchool">
                                    한국기술교육대학교
                                </div>
                                <div id = "userMbti">
                                    1998.09.08 ESTJ
                                </div>
                            </div>
                            <button id = "nextArrow" onclick="location.href='#1' ">
                        </div>
                    </div>
                    <div id = "mentoInfo">
                        <div id="mentobox">
                            
                                <div id = "mentoprofileImage"></div>
                          
                            
                            <div id = "mentoprofileInfo" >
                                
                                <div id = "userName">
                                    윤영준
                                </div>
                                <div id = "userSchool">
                                    한국기술교육대학교
                                </div>
                                <div id = "userMbti">
                                    1998.09.08 ESTJ
                                </div>
                            </div>
                            <button id = "nextArrow" onclick="location.href='#2' ">
                        </div>
                    </div>
                    <div id = "mentoInfo">
                        <div id="mentobox">
                            
                                <div id = "mentoprofileImage"></div>
                          
                            
                            <div id = "mentoprofileInfo" >
                                
                                <div id = "userName">
                                    윤영준
                                </div>
                                <div id = "userSchool">
                                    한국기술교육대학교
                                </div>
                                <div id = "userMbti">
                                    1998.09.08 ESTJ
                                </div>
                            </div>
                            <button id = "nextArrow" onclick="location.href='#3' ">
                        </div>
                    </div>
                    <div id = "mentoInfo">
                        <div id="mentobox">
                            
                                <div id = "mentoprofileImage"></div>
                          
                            
                            <div id = "mentoprofileInfo" >
                                
                                <div id = "userName">
                                    윤영준
                                </div>
                                <div id = "userSchool">
                                    한국기술교육대학교
                                </div>
                                <div id = "userMbti">
                                    1998.09.08 ESTJ
                                </div>
                            </div>
                            <button id = "nextArrow" onclick="location.href='#4' ">
                        </div>
                    </div>
                    <div id = "mentoInfo">
                        <div id="mentobox">
                            
                                <div id = "mentoprofileImage"></div>
                          
                            
                            <div id = "mentoprofileInfo" >
                                
                                <div id = "userName">
                                    윤영준
                                </div>
                                <div id = "userSchool">
                                    한국기술교육대학교
                                </div>
                                <div id = "userMbti">
                                    1998.09.08 ESTJ
                                </div>
                            </div>
                            <button id = "nextArrow" onclick="location.href='#5' ">
                        </div>
                    </div>
                    <div id = "mentoInfo">
                        <div id="mentobox">
                            
                                <div id = "mentoprofileImage"></div>
                          
                            
                            <div id = "mentoprofileInfo" >
                                
                                <div id = "userName">
                                    윤영준
                                </div>
                                <div id = "userSchool">
                                    한국기술교육대학교
                                </div>
                                <div id = "userMbti">
                                    1998.09.08 ESTJ
                                </div>
                            </div>
                            <button id = "nextArrow" onclick="location.href='#6' ">
                        </div>
                    </div>

                       
                    </div>
                </div>
            </div>

        </div>
            <div id ="navigation" role="bar">
                <div id="IconBox">
                <a herf ="mainPage.html"><div id= "homeIcon" class ="IconBox"></div></a>
                </div>
                <div id="IconBox">
                <a herf ="mentoPage.html"><div id= "mentoIcon" class ="IconBox"></div></a>
                </div>
                <div id="IconBox">
                <a herf ="questionPage.html"><div id= "questionIcon" class ="IconBox"></div></a>
                </div>
                <div id="IconBox">
                <a herf ="matchingPage.html"><div id= "matchingIcon" class ="IconBox"></div></a>
                </div>
            </div>
        
      </div>
    </div>
  </body>
</html>


