{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="message.css" />
    <title>message</title>
  </head>
  <body>
    <div class="background">
        <div class="navbar">
            navbar
        </div> 
        <div id="container" role="main" >
            <div id = "messageBox">
                <div id = "messageProfile">
                </div>
                <div id = "messageInfoBox">
                    <div id = "messageTitle">
                        안녕하세요 이게
                    </div>
                    <div id = "messageContent">
                        이러이러한 문자가 왔습니다 확인해용
                    </div>
                </div>
            </div>                       
        </div>
      </div>
      <div id ="navigation" role="bar">
          <div id="IconBox">
          <a herf ="mainPage.html"><div id= "homeIcon" class ="IconBox"></div></a>
          </div>
          <div id="IconBox">
          <a herf ="mentoPage.html"><div id= "mentoIcon" class ="IconBox"></div></a>
          </div>
          <div id="IconBox">
          <a herf ="questionPage.html"><div id= "questionIcon" class ="IconBox"></div></a>
          </div>
          <div id="IconBox">
          <a herf ="matchingPage.html"><div id= "matchingIcon" class ="IconBox"></div></a>
          </div>
      </div>
      </div>
    </div>
  </body>
</html>
